.user {
    font-size: 16px;
    padding: 24px;
    width: 100%;
}

.user h3 {
    font-size: 16px;
}

.user:nth-child(odd) {
    background: #eee;
}

.user:nth-child(even) {
    background: #fafafa;
}

.user-img {
    border: 1px solid #707070;
    height: 123px;
    width: 123px;
}

.user-profile,
.user-profile a {
    color: #224E83;
}

@media only screen and (min-width: 428px) {
    .user {
        display: flex;
        align-items: center;
        padding: 24px 10px 30px 37px;
    }

    .user-img {
        align-self: flex-start;
        object-fit: contain;
    }

    .user-profile {
        flex: 1 1 auto;
        margin-left: 50px;
        text-align: left;
    }
}

@media only screen and (min-width: 1025px) {
    .user-list {
        justify-content: space-evenly;
        column-gap: 30px;
        row-gap: 30px;
    }

    .user {
        border: 1px solid #707070;
        padding: 24px;
        width: 400px;
    }

    .user:nth-child(even),
    .user:nth-child(odd) {
        background: #fff;
    }

    .user-profile {
        margin-left: 20px;
    }
}